{% extends 'base.html' %}

{% block title %}Library Store{% endblock %}

{% block content %}
<div class="card shadow mb-4 p-4 ">
    <div class="card-header py-3 mb-3">
        <h4 class="m-0 font-weight-bold text-primary">Reserva de cabañas y servicios</h4>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="d-flex">
            <div class="mb-3">
                <label for="" class="form-label">Fecha inicio</label>
                <input type="date" class="form-control" name="date_start" id="date_start" aria-describedby="helpId"
                    placeholder="Ingresa una fecha de inicio">
                <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="mb-3 mx-4">
                <label for="" class="form-label">Fecha final</label>
                <input type="date" class="form-control" name="date_end" id="date_end" aria-describedby="helpId"
                    placeholder="Ingresa una fecha de inicio">
                <small id="helpId" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Cliente</label>
            <select class="form-control" name="customer" id="">
                <option value="">Selecciona un cliente</option>
                {% for customer in customer_list %}
                <option value="{{customer.id}}">{{customer.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Cabaña</label>
            <div class="d-flex">
                <select class="form-control" name="cabin" id="">
                    <option value="">Selecciona una cabaña</option>
                    {% for cabin in cabin_list %}
                    <option value="{{cabin.id}}">{{cabin.name}} - {{cabin.value}}</option>
                    {% endfor %}
                </select>
                <a href="" onclick="addCabin(event)" class="btn btn-primary btn-icon-split mb-3">
                    <span class="icon text-white-50"><i class="fa fa-plus"></i></span>
                </a>
            </div>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Servicio</label>
            <div class="d-flex">
                <select class="form-control" name="service" id="">
                    <option value="">Selecciona un servicio</option>
                    {% for service in service_list %}
                    <option value="{{service.id}}">{{service.name}} - {{service.value}}</option>
                    {% endfor %}
                </select>
                <a onclick="addService(event)" href="" class="btn btn-primary btn-icon-split mb-3">
                    <span class="icon text-white-50"><i class="fa fa-plus"></i></span>
                </a>
            </div>
        </div>
        <div class="card-header py-3 mb-3">
            <h4 class="m-0 font-weight-bold text-primary">Detalle reserva</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tbookings">
                </tbody>
                <thead>
                    <tr>
                        <th>Total:</th>
                        <th scope="col"><input class="text-success font-weight-bold" style="border: none;" type="text" name="totalValue" id="totalValue" readonly></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Crear reserva</button>

        </div>
    </form>
</div>

<script>
    cabin_added = [];
    services_added = [];
    let total = 0;
    function addCabin(event) {
        let date_start = document.getElementById('date_start').value
        let date_end = document.getElementById('date_end').value
        event.preventDefault();
        let cabinSelect = $('select[name="cabin"]');
        let cabinid = cabinSelect.val();
        let cabinName = cabinSelect.find('option:selected').text().split(' - ')[0];
        let cabinValue = cabinSelect.find('option:selected').text().split(' - ')[1];
        cabin_added.push(cabinId);
        totalBooking(parseFloat(cabinValue));
        $('#tbookings').append(`
            <tr id=${cabinId}>                               
                <td>
                    <input type="hidden" name="cabinId[]" value="${cabinId}">
                    <input type="hidden" name="cabinValue[]" value="${cabinValue}">
                    ${cabinName}
                </td>
                <td>${cabinValue}</td>                
                <td>
                    <a onclick='removeBooking(event, "cabin")' class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        `);
    }

    function addService(event) {
        event.preventDefault();
        let serviceSelect = $('select[name="service"]');
        let serviceId = serviceSelect.val();
        let seviceName = serviceSelect.find('option:selected').text().split(' - ')[0];
        let serviceValue = serviceSelect.find('option:selected').text().split(' - ')[1];
        service_added.push(serviceId);
        totalBooking(parseFloat(serviceValue));

        $('#tbookings').append(`
            <tr id="${serviceId}">                                
                <td>
                    <input type="hidden" name="serviceId[]" value="${serviceId}">
                    <input type="hidden" name="serviceValue[]" value="${serviceValue}">
                    ${seviceName}
                </td>
                <td>${serviceValue}</td>                
                <td>
                    <a onclick='removeBooking(event, "service")' class="btn btn-danger btn-circle btn-sm">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        `);
    }

    function totalBooking(value) {
        total += value;
        document.getElementById('totalValue').value = total;
    }

    function removeBooking(event, type) {
        event.preventDefault();        
        let element = event.target.parentElement.parentElement.parentElement;
        let id = element.id;          
        if (type == 'cabin') {
            cabin_added = cabin_added.filter(cabin => cabin != id);
        } else {
            service_added = service_added.filter(service => service != id);
        }
        element.remove();
        let value = parseFloat(element.children[1].textContent);        
        total -= value;
        document.getElementById('totalValue').value = total;
    }
</script>


{% endblock %}