{% extends 'base.html' %}

{% block title %}Library Store{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Detalle reserva</h4>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Código reserva</label>
                <input type="text" class="form-control" value="{{booking.id}}" readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha reserva</label>
                <input type="text" class="form-control" value='{{booking.date_booking|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Documento Cliente</label>
                <input type="text" class="form-control" value="{{booking.client.document}}" readonly />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nombre Cliente</label>
                <input type="text" class="form-control" value="{{booking.client}}" readonly />
            </div>
        </div>
        <div class="d-flex">
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha inicio</label>
                <input type="text" class="form-control" value='{{booking.date_start|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Fecha fin</label>
                <input type="text" class="form-control" value='{{booking.date_end|date:"d/m/Y"}}' readonly />
            </div>
            <div class="mb-3 mr-5">
                <label for="" class="form-label">Valor</label>
                <input type="text" class="form-control" value="{{booking.price}}" readonly />
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Estado</label>
                <input type="text" class="form-control" value="{{booking.status}}" readonly />
            </div>
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Cabañas reservadas</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Código cabaña</th>
                        <th>Nombre</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cabin in booking_cabin %}
                    <tr>
                        <td><img src="{{ cabin.cabin.image.url}}" alt="" width="50"></td>
                        <td>{{ cabin.cabin.code }}</td>
                        <td>{{ cabin.cabin.name }}</td>
                        <td>{{ cabin.value}}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Servicios reservados</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Código servicio</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in booking_service %}
                    <tr>
                        <td><img src="{{ service.service.image.url}}" alt="" width="50"></td>
                        <td>{{ service.service.id }}</td>
                        <td>{{ service.service.name }}</td>
                        <td>{{ service.service.description }}</td>
                        <td>{{ service.value}}</td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="table-responsive">
            <h5 class="text-primary font-weight-bold mt-4">Pagos realizados</h5>
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead class="table-dark">
                    <tr>                        
                        <th>Código servicio</th>
                        <th>Fecha</th>
                        <th>Método</th>
                        <th>Valor</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.date_payment|date:"d/m/Y" }}</td>
                        <td>{{ payment.payment_method }}</td>
                        <td>{{ payment.value }}</td>
                        <td>{{ payment.status }}</td>                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}